<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base_page::layout(~{::section})">

<head
<meta charset="UTF-8"/>
<title>base</title>
</head>
<body>


<section>
<div class="container bg-primary  w-50 text-center rounded border-warning centerdiv">
<div th:if="${session.message}" th:classappend="${session.message.type}" class=" alert text-center w-50 position-sticky top-0 start-50 translate-middle-x" role="alert">
  <p th:text="${session.message.content}"></p>
  <th:block th:text="${#session.removeAttribute('message')}"></th:block>
</div>
	

	<div id="Login-row" class="row justify-content-center align-items-center">
		<div id="Login-column" class="col-md-12">
				<div id="Login-box p-2" class="col-md-12 ">
				<div class="alert alert-success" role="alert">
  						Otp has been sent! Check your email!!
					</div>
					
					<form action="" th:action=@{/verify-otp} method="POST">
					<div class="form-group p-3">
					<input name="otp" type="number" placeholder="Enter OTP here" class="form-control" required />
					</div>
					<div class="container p-3">
					<button class="btn btn-success">Verify</button>
					</div>
					</form>
				</div>
		</div>
	</div>	
</div>

<!--   ****** data insert here  -->

</section>


</body>
</html>